<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
				<h3>Hakkımızda</h3>
				<p>Blog, bireylerin veya organizasyonların düşüncelerini, fikirlerini, deneyimlerini veya diğer içerik türlerini ters kronolojik bir sırayla yayınlayabilecekleri bir çevrimiçi platformdur."Blog" kelimesi "web günlüğü"nün kısaltmasıdır. Bloglar kişisel deneyimler, haberler, siyaset, eğlence, moda, yemek, seyahat gibi geniş bir konu yelpazesini kapsayabilir. İçerik genellikle tek bir yazar veya yazar grubu tarafından yazılır ve okuyucular yazar ve diğer okuyucularla yorum bırakarak ve tartışarak etkileşime geçebilirler.</p>
				<div class="read">
					<a href="/About/Index/" class="btn btn-primary read-m">Devamını Oku</a>
				</div>
			</div>
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">

				<div class="tech-btm">
					<h3>Son Gönderiler</h3>
					@await Component.InvokeAsync("WriterLastBlog")
				</div>
			</div>
			<!-- subscribe -->
			<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
				<h2>Mail Bültenine Abone Olun</h2>
				@await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")
				<!-- //subscribe -->
			</div>
		</div>
		<!-- footer -->
		<div class="footer-cpy text-center">
			<div class="footer-social">
				<div class="copyrighttop">
					<ul>
						<li class="mx-3">
							<a class="facebook" href="#">
								<i class="fab fa-facebook-f"></i>
								<span>Facebook</span>
							</a>
						</li>
						<li>
							<a class="facebook" href="#">
								<i class="fab fa-twitter"></i>
								<span>Twitter</span>
							</a>
						</li>
						<li class="mx-3">
							<a class="facebook" href="#">
								<i class="fab fa-google-plus-g"></i>
								<span>Google+</span>
							</a>
						</li>
						<li>
							<a class="facebook" href="#">
								<i class="fab fa-pinterest-p"></i>
								<span>Pinterest</span>
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="w3layouts-agile-copyrightbottom">
				<p>
					© @DateTime.Now.Year Asp.Net Core 5.0 Project | Tüm Hakları Saklıdır | Desing by<h6 class="text-white">Ahmet Macit</h6>
				</p>

			</div>
		</div>
	</div>
</footer>